#houses-box {
  padding-top: 30px;
}

.c-house-card {
  & > .card-body {
    text-align: center;
  }

  &__icon {
    i {
      font-size: 38px;
      margin: 15px 0;
    }
  }

  hr {
    margin: 5px 15px;
  }
}
